include index.pug
div(class="heading") #{course.coursename}
if course.quiz.length>0
  -n=0;
  each value in course.quiz
    div(class="card")
        div(style="font-size:70px !important ;padding-right:10px;") Q#{++n}
        div #{value.question}
        a( href="/teachers/question/edit/"+course._id+"/"+value._id class="material-icons deletebutton" style="color:black;right:80px;") edit
        a( href="/teachers/question/delete/"+course._id+"/"+value._id class="material-icons deletebutton" style="color:black;") delete_forever
a(class='addcourse' onclick="showform()") ADD MORE

div(class="container-shadow addcourseform" id="quiztoggle" style="display:none")
  div(class="container")
    div(class="wrap")
      div(class="headings")
        a(id="sign-in" href="#" class="active")
          span ADD Quiz question
      div(id="sign-in-form")
        form(method="post",action="/teachers/add/question/"+course._id)
          label Question
          textarea(rows="5" cols="52" name="question" required='required')
          label options
          input(id="text" type="text" name="option" required="required")
          input(id="text" type="text" name="option" required="required")
          input(id="text" type="text" name="option" required="required")
          input(id="text" type="text" name="option" required="required")
          label Answers
          input(id="text" type="number" name="answer" min="1" max="4" required="required")
          div(id="add_here")
          div(class="add-more-answer" onclick="addMoreAns()") +
          label Points
          input(id="text" type="number" name="point" min="1" max="10" required="required")
          input(type="submit" class="button" name="submit" value="ADD")
    a(class="form-back" onclick="hideform()") Back