extends layout

block content
  ul(class="navlist")
    li(class="navli")
      a(href="/profile")
        div(class="material-icons not-active-icon profile-btn") person
        span Abhishek Kumar
    li(class="navli")
      a(href="/logout") Logout
            
